$_defColorError: #B40421;
$_defColorMain: #4f4686;
$_defColorDark: #011638;
$_defColorText: #e8c1c5;
$_defColorSide: #6b3f78;




//$_defColorError: #B40421;
//$_defColorMain: #2E5EAA;
//$_defColorDark: #1F1F1F;
//$_defColorText: #FFFFFF;
//$_defColorSide: #525252;