main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    margin-top: 5vh;
    .form-wrapper,
    .table-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        .text-button{
            cursor: pointer;
            display: block;
            width: 100%;
            padding: 8px 15px;
            border-radius: 10px;
            border: 1px solid $_defColorText;
            margin: 15px 0;
            text-align: center;
            background-color: $_defColorSide;
            transition: background-color $_defTimeOut ease;
            user-select: none; 
            &:hover{
                background-color: $_defColorDark;
            }
            &.tableButton{
                background-color: $_defColorMain;
                &:hover{
                    background-color: $_defColorDark;
                }
            }
        }
        form{
            display: block;
            div{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: row;
                input{
                    display: block;
                    border: none;
                    width: 240px;
                    margin: 5px 15px;
                    padding: 8px 15px;
                    background-color: inherit;
                    color: $_defColorText;
                    border-bottom: 2px solid $_defColorMain;
                    &.error{
                        color: $_defColorError;
                        border-color: $_defColorError; 
                    }
                }
                select{
                    @extend input;
                    option{
                        color: #000000;
                    }
                }
                input[type="submit"]{
                    cursor: pointer;
                    margin-top: 20px;
                    width: 100%;
                    border-radius: 10px;
                    border: 1px solid $_defColorText;
                    background-color: $_defColorMain;
                    transition: background-color $_defTimeOut ease;
                    &:hover{
                        background-color: $_defColorDark;
                    }
                    text-align: center;
                    &.disabled{
                        cursor: default;
                        opacity: 0.5;
                        &:hover{
                            background-color: $_defColorMain;
                        }
                    }
                }
            }
        }
        .table-header{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            div{
                width: 100%;
                padding: 5px;
                &.filter-block{
                    text-align: right;
                }
                select{
                    max-width: 280px;
                    border: none;
                    background-color: inherit;
                    border-bottom: 2px solid $_defColorMain;
                    color: $_defColorText;
                    padding: 8px 15px;
                    option{
                        color: #000000;
                    }
                }
            }
        }
        table{
            border-top: 1px solid $_defColorSide;
            th{
                padding: 8px 10px;
                border-left: 1px solid $_defColorSide;
                cursor: default;
                text-align: center;
                &:last-of-type{
                    border-right: 1px solid $_defColorSide;
                }
            }
            td{
                @extend th;
                vertical-align: middle;
                font-size: 0.8em;
            }
        }
        .pages{
            display: flex;
            justify-content: center;
            align-items: center;
            .curr-page{
                cursor: default;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    cursor: pointer;
                    position: relative;
                    display: block;
                    width: 25px;
                    height: 25px;
                    margin: 0 10px;
                    &::after,
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        background-color: $_defColorMain;
                        height: 4px;
                        width: 80%;
                        top: 50%; margin-top: -2px;
                        left: 0;
                        border-radius: 2px;
                        transform-origin: left center;
                        transform: rotateZ(45deg);
                    }
                    &::before{
                        transform: rotateZ(-45deg);
                    }
                    &.next{
                        margin-left: 12px;
                        &::after,
                        &::before{
                            transform-origin: right center;
                        }
                    }
                    &.disabled{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}